.table {
  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.true {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    &.false{
      color: rgb(110, 244, 0);
      background-color: rgba(250, 15, 15, 0.651);
    }
  }
}
